.container > .body > .bullet-points > .bullet-point {
  margin: 20px 0px;
}

.container > .body > .explore-button-container > button {
  background-color: #0372c1;
  border: none;
  color: white;
  display: block;
  font-size: 16px;
  margin: auto;
  padding: 20px 50px;
  text-align: center;
}
