.post {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  overflow: hidden;
}

.column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.column-1 > .author-container {
  display: flex;
}

.column-1 > .author-container > .author-image-container {
  margin-right: 10px;
}

.column-1 > .author-container > .author-image-container > img {
  border-radius: 50%;  
}

.column-1 > .author-container > .author-info-container {
  align-items: center;
  display: grid;
}

.column-2 > .post-image {
  align-items: center;
  display: grid;
}