@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #441e96;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
